#content_comentario {
    margin-top: 10px;
    margin-left: 50px;
}

#img_usuario {
    width: 47px;
    height: 42px;
}

#bocadillo {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 5px;
}

/* Boton delete comentario */
button[id^='btn_delete_comentario'] {
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Boton mostrar formulario update */
button[id^='btn_update_view'] {
    margin-left: -40px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Botón submit modificar formulario */
button[id^='btn_update_comentario'] {
    margin-left: 60px;
}

/* Contenedor de formulario update comentario */
div[id^='div_form_update_comentario'] {
    display: none;
}

form[id^='form_update_comentario'] > div.field-contenido
{
    margin-top: 10px;
    margin-left: 60px;
}

@media (max-width: 990px) {
    #content_comentario {
        margin-top: 10px;
        margin-left: 0px;
    }

    #cuerpo_comentario {
        margin-left: 10px;
    }

    button[id^='btn_delete_comentario'] {
        margin-left: 70px;
        margin-top: 10px;
        border-radius: 5px;
    }

    #bocadillo {
        background-color: white;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 5px;
        margin-right: 3px;
    }

    /* Boton mostrar formulario update */
    button[id^='btn_update_view'] {
        margin-left: 70px;
        margin-top: 10px;
        border-radius: 5px;
    }
}
