ul[id^='lista_'] {
    min-height: 20px;
    height: 280px;
    overflow: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

div[id^='contenedor_lista'] {
    box-shadow: 2px 2px 5px #999;
}

#form_create_tarjeta {
    display: none;
}

div[id^='form_create_tarjeta'] {
    display: none;
}

#img_lista {
    width: 20px;
    height: 20px;
}

div[id^='lista_update'] {
    display: none;
}
