
div[id^='div_update_tarjeta'] {
    display: none;
}

div[id^='view_imagen'] > img {
    width: 530px;
    height: 300px;
    border-radius: 10px;
}

.titulo {
    margin-bottom: 20px;
}

div[id^='lista_adjuntos'] {
    height: 230px;
}

button[id^='btn_ocultar_tarjeta'] {
    float: right;
}

@media (max-width: 990px) {
    button[id^='btn_ocultar_tarjeta'] {
        float: left;
        margin-bottom: 10px;
    }

    div[id^='view_imagen'] > img {
        width: 327px;
        height: 300px;
        border-radius: 10px;
    }

    div[id^='view_imagen'] {
        text-align: center;
    }

    div.titulo {
        margin-bottom: 0px;
    }
}
